.contact {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  margin-top: var(--spacing);
}
.contentContacto {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
  padding: 0 3% 0 3%;
}
.contentTitle {
  color: var(--text-color);
  padding-bottom: 10px;
}

.contactInfo {
  font-size: 12px;
  color: var(--secondary-text-color);
  margin-bottom: var(--sm-spacing);
  margin-left: 10px;
  padding-left: 200px;
}

.contentDescription {
  font-size: 15px;
}

.info {
  font-size: 15px;
}

.mediaWrap {
  border-left: 2px solid var(--grey);
  padding-left: var(--sm-spacing);
  padding-top: 12px;
  padding-bottom: 12px;
}

.formGroup {
  padding-right: 15px;
}

div.socialVertical {
  display: flex;
  -webkit-writing-mode: vertical-rl;
  padding: 20px;
}

.contact .socialIcons .icon {
  font-size: 53px !important;
  margin-bottom: 20px;
}

.formControl {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 18px 15px;
  border: none;
  background-color: #161616;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--grey);
  border-radius: 1px;
  outline: transparent;
  color: var(--grey);
}

.formControl:focus {
  border-bottom: 1px solid var(--hl-color);
}

textarea {
  resize: none;
  height: auto;
  font-family: "Poppins", sans-serif;
}

.icon {
  color: var(--hl-color);
  font-size: 28px;
}

.infoIcon {
  width: var(--spacing);
  display: flex;
  align-items: center;
}

.infoType {
  color: var(--text-color);
  font-size: 15px;
}

.infoValue a {
  color: var(--hl-color);
}

.contactForm {
  margin-bottom: var(--sm-spacing);
}

.mediaWrap a:hover {
  color: #03b979;
}

@media (min-width: 400px) {
  .contactInfo {
    font-size: 15px;
  }
}

@media (min-width: 750px) {
  .contact .socialIcons {
    display: inline;
    padding-bottom: var(--sm-spacing);
  }

  .contact .socialIcons::after {
    content: "";
    height: 2px;
    width: var(--spacing);
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 10px;
  }
}

@media (max-width: 950px) {
  .contentContacto {
    flex-direction: column;
    padding: 0 6% 0 6%;
  }
  .contenido {
    top: 12%;
  }
  .contactInfo {
    padding-left: 0;
  }
}
